<div class="top-bar">
  <div class="d-flex justify-content-between">
    <button type="button" id="sidebarCollapse" (click)="collapse()" class="btn">
      <i class="fas fa-align-left"></i>
    </button>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search games" aria-label="Search games" aria-describedby="searchButton" [(ngModel)]="searchText">
      <button class="btn btn-outline-secondary" type="button" id="searchButton" (click)="searchGame()">Search</button>
    </div>
  </div>
  <h4>Creator's Favorites</h4>
  <div class="d-flex flex-wrap justify-content-start">
    <div *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ng-container *ngIf="!loading">
      <div *ngFor="let game of curated; let first = first;" class="nav-item" (click)="goToGame(game)">
        <img [src]="game.images.thumb">
        <a class="nav-link">
          {{ formatGameName(game.name) }}
        </a>
      </div>
    </ng-container>
  </div>
</div>
