<table class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let col of columns">
        <span (click)="colClick(col.name)">
          {{ col.name }}
          <span *ngIf="col.sorted" [class]="getColumnSorted(col.name)"></span>
        </span>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="!loading">
    <tr *ngFor="let row of rowsToShow; let i = index;">
      <td *ngFor="let col of colNames" (click)="handleRowClicked(row, i)">
        <span>
          {{ row[dataMap[col]] }} <span *ngIf="row['used'] && col == 'Price'">(Used)</span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
