<div class="material-div">
  <h2>What is this site?</h2>
  <p>This site is a side project I made to work on showcasing my Angular skills and to develop its design and style over time. The site uses the <a href="https://www.boardgameatlas.com/">Board Game Atlas</a> API to populate everything.</p>
  <p>In the future, I am hoping to add some sort of machine learning for suggesting games based on browsing history and a user's discover queue, but not sure if/when that may come.</p>
  <p>The source code for the frontend can be found on my Github <a href="https://github.com/jpollmann102/table-topper">here</a>
</div>
<div class="material-div">
  <h2>What does this site feature?</h2>
  <p>The home page features three carousels, one for random games to hopefully help you discover new games, one for hot games based on discussions on Reddit, and one for the games with the highest vote counts.</p>
  <p>Every game has its own page where you can find more details on the game, an image and video gallery (if there are any available), current listings for the game, and related games and expansions</p>
</div>
<div class="material-div">
  <h2>Limitations and Upcoming</h2>
  <p>As of right now the site is not entirely optimized for smaller screens, which is my next priority. The discover queue is also on the short list, but there is no timetable for when that may come, along with game recommendation systems.</p>
  <p>If there is a feature you'd like to request, please reach out at joshpollmann102@gmail.com</p>
</div>
