#content {
  width: inherit;
  padding: 40px 265px 40px 285px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 50px;
  right: 0;
}

.wrapper {
  display: flex;
  width: 100%;
}
