<div id="navbar">
  <div class="navbar-heading"><h3>Table Topper</h3></div>
  <div class="list-group list-group-flush">
    <a
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['']"
    >Home</a>
    <a
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact:true}"
    [routerLink]="['/about']"
    >About</a>
    <a
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['/discover']"
    >Discover</a>
    <a
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['/hot-list']"
    >The Hot List</a>
    <a
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['/top-list']"
    >The Top List</a>
    <a
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['/search']"
    >Browse Mechanics</a>
    <a
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['/search']"
    >Browse Categories</a>
    <a
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['/search']"
    >Find A Game</a>
  </div>
</div>
