#navbar {
  width: 210px;
  position: fixed;
  margin-top: 10px;
  margin-left: 35px;
  z-index: 999;
  background: var(--primary-light);
  color: #fff;
  transition: all 0.3s;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid var(--primary-light);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#navbar.toggled {
  margin-left: -250px;
}

#navbar .navbar-heading {
  padding: 20px;
  background: var(--primary-dark);
}

a {
  padding: 20px;
  border-bottom: 1px solid var(--primary-dark);
  &:hover {
    background-color: var(--primary-dark);
  }
}
