<nav id="sidebar">
  <ul class="list-unstyled components">
    <li class="active">
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/About">About</a>
    </li>
  </ul>
  <ul class="list-unstyled components">
    <p>Browse Categories</p>
    <li>
      <a routerLink="/Games?category=Fantasy">Fantasy</a>
    </li>
    <li>
      <a routerLink="/Games?category=Party Game">Party Games</a>
    </li>
    <li>
      <a routerLink="/Games?category=Wargame">War</a>
    </li>
    <li>
      <a routerLink="/Games">See more..</a>
    </li>
  </ul>
  <ul class="list-unstyled components">
    <p>Browse Mechanics</p>
    <li>
      <a routerLink="/Games?mechanic=Drafting">Drafting</a>
    </li>
    <li>
      <a routerLink="/Games?mechanic=Worker Placement">Worker Placement</a>
    </li>
    <li>
      <a routerLink="/Games?mechanic=Dice Rolling">Dice Rolling</a>
    </li>
    <li>
      <a routerLink="/Games">See more..</a>
    </li>
  </ul>
</nav>
